body {
    font-family: sans-serif;
    background-color: skyblue;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    margin-left:400px;

    height: 200px;
}
.button{
    background-color:#4CAF50;
    
    
    
}

